@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.lato-font {
    font-style: 'Lato', sans-serif;
    font-style: normal;
}

#main_section {
    background-image: url('../images/mobile-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#mobile_header {
    padding: 10px;
}

.home_text {
    margin-top: 60px;
    padding: 10px;
}

.introduction_paragraph {
    padding: 10px;
    font-size: 25px;
}